html, body {
    margin:0px;
    height:100%;
    background-color: #131718    ;
    color: white    ;
    font-family: 'Anton', sans-serif;
  }
.user-container{
    padding-top: 10%;
}
.user-score{
    display: flex;
    justify-content: center;   
}

.user-choice{
    display: flex;
    justify-content: center;   
}

.user-choice-lable{
    display: flex;
    justify-content: center;    
}

.versus{
    display: flex;
    justify-content: center;   
    
}

.action{
    display: flex;
    justify-content: center;   
    padding-top:15%;
    font-size: 40px;
}

.ai-score{
    display: flex;
    justify-content: center;   
}
.ai-choice{
    display: flex;
    justify-content: center;   
}
.result-text{
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 150px;
    height: 150px;
    background-color: white;
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    margin: 100px 130px 20px 100px ;
    cursor: pointer;

  }

  .result-button-container{
    display: flex;
    justify-content: center;
 }
 .result-button{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    width: 20%;
    height: 50px;
    background-color: white;
    border-radius: 20%;
    border: none;
    color: #265d7c;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
 }

 .result-button:focus{
    background-color: white;


 }

  .button:focus{
    
    background-color: white;

 }
 